<script>
function MyFunction() {
    var thongbao = {{ site.categories.thongbaolop.size }};
    var tbl1 = document.getElementById("tbl");
    tbl1.innerHTML = thongbao - 1;
}
setTimeout(MyFunction, 1); 
</script>
<style>
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .faf {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .faf > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .faf {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .faf > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .faf {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .faf > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .faf {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .faf > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .faf {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .faf > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .faf {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .faf > .badge {
    top: -7px;
  }
}

</style>
<nav class="navbar fixed-top navbar-icon-top navbar-expand-lg navbar-light shadow-sm" style="background-color: #f6e100" id="navibar">
 <a href="https://c4k60.ga"><img src="/logoc4k60.png" alt="Cổng thông tin điện tử C4K60" height="62" width="80"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ page.house }}">
        <a class="nav-link" href="https://c4k60.ga">
          <i class="faf fas fa-home"></i>
          Trang chủ
          <span class="sr-only">(current)</span>
          </a>
      </li>
<li class="nav-item dropdown {{ page.tc }}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="faf fa fa-search">
          </i>
          Tra cứu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {{ page.dt }}" href="/diemthi">Điểm thi học kỳ 2</a>
          <a class="dropdown-item {{ page.dtk }}" href="/diemtongket">Điểm tổng kết</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item {{ page.hs }}" href="/hoso">Hồ sơ học sinh</a>
          <a class="dropdown-item {{ page.tkb }}" href="/thoikhoabieu">Thời khoá biểu</a>
          <a class="dropdown-item {{ page.btvn }}" href="/baitap">Bài tập về nhà</a>
          <a class="dropdown-item {{ page.snst }}" href="/sinhnhat">Sinh nhật sắp tới</a>
        </div>
      </li>
      <li class="nav-item {{ page.tva }}">
        <a class="nav-link" href="/thuvienanh">
          <i class="faf fas fa-images">
          </i>
          Thư viện ảnh
        </a>
      </li>
            <li class="nav-item {{ page.games }}">
        <a class="nav-link" href="/games">
          <i class="faf fas fa-gamepad">
          </i>
          Games
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item {{ page.tbl }}">
        <a class="nav-link" href="/thongbaolop">
          <i class="faf fa fa-bell">
            <span class="badge badge-danger" id="tbl"></span>
          </i>
          Thông báo
        </a>
      </li>
      <li class="nav-item dropdown {{ page.c }}">
        <a class="nav-link" style="cursor: pointer;" id="chat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="faf fas fa-comment-alt">
            <span class="badge badge-danger">1</span>
          </i>
          Chat
        </a>
        <div class="dropdown-menu" aria-labelledby="chat" style="right: -250px;">
          <div class="dropdown-item" style="cursor: pointer;padding-top: 1.5rem;padding-bottom: 0.5rem;margin-bottom: 0px;" onclick="openBar()"><img src="/logoc4k60.png" height="30" width="40" style="margin-left: -13px;margin-bottom: -21px;padding-bottom: 0px;margin-top: 1px;padding-top: 0px;"> <div style="padding-top: 0px;margin-top: -28px;margin-left: 37px;"> <strong style="font-size:19px">Chát chít C4K60</strong><br><p>(1 tin nhắn mới)</p></div> <span style="float:right;margin-top: -51px;margin-right: -1px;padding-bottom: 0.25em;margin-bottom: 0px;" class="badge badge-danger">1</span></div>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"method="get" action="https://www.google.com/search" target="_blank">
<input type="hidden" name="sitesearch" value="https://c4k60.ga" />
<input class="form-control mr-sm-2" type="text" name="q" maxlength="255" placeholder="Tìm kiếm trong trang" />
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>
<div class="container">
