<nav class='navbar navbar-inverse '>
<div class='container-fluid'>
<div class='navbar-header'>
<a class='navbar-brand' href='https://tunganh03.github.io/doantruong-cbh/'>Đoàn trường - CBH</a>
<button class='navbar-toggle' data-target='#myNavbar' data-toggle='collapse' type='button'>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>
</div>
<div class='collapse navbar-collapse' id='myNavbar'>
<ul class='nav navbar-nav'>
<li class='{{ page.home }}'><a href='https://tunganh03.github.io/doantruong-cbh/'>Trang chủ</a></li>
<li class='{{ page.tc }}'><a href='/tracuu'>Tra cứu</a></li>
<li class='{{ page.tvp }}'><a href='/topvipham'>Top vi phạm</a></li>
<li class='{{ page.hdsk }}'><a href='/hoatdong'>Hoạt động/Sự kiện</a></li>
<li class='{{ page.bc }}'><a href='/baocao'>Báo cáo</a></li>
<li class='{{ page.lh }}'><a href='/lienhe'>Liên hệ</a></li>
</ul>
<ul class='nav navbar-nav navbar-right flex-row justify-content-between ml-auto'>
<li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle" style="
    margin-top: 8px;
"><i class="fas fa-sign-in-alt"></i> Đăng nhập <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                       <li class="px-3 py-2" style="
    height: 196px;
    width: 240px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
">
   <form class="form" role="form">
                                <div class="form-group">
                                    <input id="emailInput" placeholder="Email" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input id="passwordInput" placeholder="Mật khẩu" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                                </div>
                                <div class="form-group text-center">
                                    <small><a href="#" data-toggle="modal" data-target="#modalPassword">Quên mật khẩu?</a></small>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
</ul>
</div>
</div>
</nav>
