---
layout: default
---
<style>
.navbar-brand{
font-size: 2rem;
}
</style>
<h3><i class="fas fa-bullhorn"></i> Thông báo lớp</h3>
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d %H:%M" }}" class="post-meta__date date"><!-- Whitespace added for readability -->
{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
            {% when  '1' %}Tháng Giêng
            {% when  '2' %}Tháng Hai
            {% when  '3' %}Tháng Ba
            {% when  '4' %}Tháng Tư
            {% when  '5' %}Tháng Năm
            {% when  '6' %}Tháng Sáu
            {% when  '7' %}Tháng Bảy
            {% when  '8' %}Tháng Tám
            {% when  '9' %}Tháng Chín
            {% when '10' %}Tháng Mười
            {% when '11' %}Tháng Mười Một
            {% when '12' %}Tháng Mười Hai
{% endcase %}
{{ page.date | date: "%Y" }}
</time>
      {% if page.tags.size > 0 %}
      &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
</article>
 {% if page.fbcomments %}
    <hr/>
  {% include fbcomment.html %}
    <h4><i class="fas fa-comment"></i> Bình luận</h4>
    <div class="fb-comments" data-href="http://c4k60.ga{{ page.url }}" data-width="706" data-numposts="5"></div>
  {% endif %}

<br>